@{
    ViewBag.Title = "Survey";
}

<div id="bodyContainer" ng-app="Q7App">
    <section id="content">
        <div class="container">
            <div class="row">
                <div ng-controller="Q7Controller" ng-init="setPage(0)">
                    <table><tr>
                        <td>
                            <table>
                                <tr ng-repeat="x in surveys">
                                    <td>
                                        <a ng-click="setItem($index)">
                                            <div style="border:1px solid black">
                                                <span style="display:inline-block; width:100px">{{ x.user }}</span><span style="display:inline-block; width:100px; text-align:right">{{ x.score }}</span>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="border:1px solid black; width:200px" >
                            <table>
                                <tr style="height:10%">
                                    <td>
                                        <span style="display:inline; width:50%; font-weight:bold">{{ curUser }}</span>
                                    </td>
                                    <td>
                                        <span style="display:inline; width:50%; text-align:right; font-weight:bold">{{ curScore }}</span>
                                    </td>
                                </tr>
                                <tr style="height:90%">
                                    <td>{{curVerb}}</td>
                                </tr>
                            </table>                           
                        </td>
                    </tr></table>
                    <table>
                        <tr>
                            <td><a ng-click="prevPage()"><< Prev</a></td>
                            <td><a ng-click="setPage(0)"> 1 </a></td>
                            <td><a ng-click="setPage(1)"> 2 </a></td>
                            <td><a ng-click="setPage(2)"> 3 </a></td>
                            <td><a ng-click="setPage(3)"> 4 </a></td>
                            <td><a ng-click="setPage(4)"> 5 </a></td>
                            <td><a ng-click="setPage(5)"> 6 </a></td>
                            <td><a ng-click="setPage(6)"> 7 </a></td>
                            <td><a ng-click="setPage(7)"> 8 </a></td>
                            <td><a ng-click="setPage(8)"> 9 </a></td>
                            <td><a ng-click="setPage(9)"> 10 </a></td>
                            <td><a ng-click="nextPage()">Next >></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/Q7.js")
}